@import url('generales.css');

/* Estilos para el responsive */

@media (max-width: 992px) {
    header .menu {
        height: 100%;
        width: 60%;
    }
    .envoltura .texto-principal h1 {
        font-size: 40px;
    }
    .envoltura .texto-principal h2 {
        font-size: 26px;
    }
    .envoltura .texto-principal {
        color: #fff;
        height: 70vh;
    }
    header .detalle {
        height: 60px;
        margin-top: -40px;
    }
    header .dm{
        padding-top: 16px;
    }
    .conferencia-caja .btn-reservar {
        width: 100%;
    }
    .conferencia-caja button{
        width: 100%;
        margin-top: 10px;
    }
}
@media (max-width: 768px) {
    .envoltura .texto-principal h1 {
        font-size: 37px;
        text-align: center;
    }
    .envoltura .texto-principal h2 {
        font-size: 26px;
        text-align: center;
    }
    .banner-caja h3{
        /* font-size: 20px; */
        text-align: center;
    }
}

@media (max-width: 576px) {
    .envoltura .texto-principal h1 {
        font-size: 28px;
    }
    .envoltura .texto-principal h2 {
        font-size: 20px;
    }
    .conferencia-botones{
        width: 50%;
    }
    .banner-caja h3{
        font-size: 20px;
    }
    .formulario .btn-registrar{
        width: 100%;
    }
}

/* // Medium devices (tablets, 768px and up) */


/* // Large devices (desktops, 992px and up) */
